<template lang="pug">
  v-content
    h2 Подтверждение регистрации
    v-alert(
      :color="alert.color",
      :icon="alert.icon",
      v-model="alert.status"
    ) {{ alert.message }}
</template>
<script>
  import { auth } from '~/plugins/api'

  export default {
    data () {
      return {
        alert: {
          status: false,
          color: 'success',
          icon: 'check_circle',
          message: 'Аккаунт подтверждён. Спасибо за регистрацию'
        }
      }
    },
    async mounted () {
      let secret = this.$route.query.secret
      let confirm = await this.$axios.post('/auth/confirm', {secret: secret})
      if (confirm.data.code === 200) {
        this.$store.commit('auth/setAccessToken', confirm.data.access_token)
        localStorage.setItem('access_token', confirm.data.access_token)
        this.$store.commit('auth/setRefreshToken', confirm.data.refresh_token)
        localStorage.setItem('refresh_token', confirm.data.refresh_token)
        auth.check(this)
        this.$router.replace({path: '/'})
      } else {
        this.alert.color = 'error'
        this.alert.icon = 'warning'
        this.alert.message = confirm.data.message
      }
      this.alert.status = true
    }
  }
</script>