<template lang="pug">
  v-content
    v-container
      v-layout(row justify-center)
        v-form(ref="restoreForm", v-model="valid", lazy-validation)
          v-card: v-container
            v-card-title
              h2.display-2.secondary--text Восстановление пароля
            v-card-text
              v-flex(v-if="!secret")
                v-text-field(
                  label="email",
                  v-model="email",
                  prepend-icon="email",
                  v-bind:rules="[typeof(errors.email) == 'undefined' || errors.email]",
                  autofocus
                )
              v-flex(v-if="secret")
                v-text-field(
                label="Новый пароль",
                v-model="password",
                prepend-icon="lock",
                :append-icon="!passwordV ? 'visibility' : 'visibility_off'",
                :append-icon-cb="() => (passwordV = !passwordV)",
                :type="!passwordV ? 'password' : 'text'",
                :rules="[typeof(errors.password) == 'undefined' || errors.password]",
                )
              v-flex(v-if="secret")
                v-text-field(
                  label="Подтверждение пароля",
                  prepend-icon="lock",
                  v-model='confirm_password',
                  :append-icon="!confirm_passwordV ? 'visibility' : 'visibility_off'",
                  :append-icon-cb="() => (confirm_passwordV = !confirm_passwordV)",
                  :type="!confirm_passwordV ? 'password' : 'text'",
                  v-bind:rules="[typeof(errors.confirm_password) == 'undefined' || errors.confirm_password]",
                )
            v-card-actions
              v-spacer
              v-btn(
                color="info",
                @click.native="submitForm()",
                :loading="loading",
                :disabled="loading"
              )
                | {{ submit }}
                v-icon(right, dark) send
                span.custom-loader(slot="loader")
                  v-icon(light) cached
</template>
<script>
  import { auth } from '~/plugins/api'

  export default {
    created () {
      if (typeof (this.$router.currentRoute.query.secret) !== 'undefined') {
        this.secret = this.$router.currentRoute.query.secret
        this.submit = 'Изменить'
      }
    },
    methods: {
      submitForm () {
        auth.restore(this).then(() => {
          this.errors = {}
        })
      }
    },
    data () {
      return {
        password: '',
        confirm_password: '',
        passwordV: false,
        confirm_passwordV: false,
        secret: false,
        email: '',
        errors: {},
        valid: true,
        submit: 'Восстановить',
        loading: false
      }
    }
  }
</script>
<style lang="stylus" scoped>
  form
    width 50vw
</style>