<template lang="pug">
  v-app
    v-toolbar.primary
      v-toolbar-title.white--text Web Experts
      v-spacer
      v-btn(icon): v-icon(dark) search
      v-btn(icon): v-icon(dark) whatshot
      v-btn(icon): v-icon(dark) receipt
      v-btn(icon): v-icon(dark) people
      .user_info(v-if="currentUser")
          v-avatar(size="36px")
            v-icon(dark) account_circle
          strong.white--text {{ currentUser.username }}
      login-block(v-else)

    main: v-content: v-container
      nuxt
    v-footer
      span &copy; 2017
    user-message
</template>

<script>
  import {auth} from '~/plugins/api'
  import LoginBlock from '../components/loginBlock.vue'
  import userMessage from '../components/userMessage.vue'

  export default {
    components: {LoginBlock, userMessage},
    async created () {
      if (!this.$store.state.auth.accessToken) {
        this.$store.commit('auth/setAccessToken', localStorage.getItem('access_token'))
      }
      if (!this.$store.state.auth.refreshToken) {
        this.$store.commit('auth/setRefreshToken', localStorage.getItem('refresh_token'))
      }
      if (!this.$store.state.auth.currentUser) {
        auth.check(this)
      }
    },
    computed: {
      currentUser () {
        return this.$store.state.auth.currentUser
      }
    },
    data () {
      return {
        title: 'Expertizzo'
      }
    }
  }
</script>
