<template lang="pug">
  v-dialog(v-model="authForm.loginPopUp", persistent, maxWidth='500px')
    v-btn(icon, slot="activator"): v-icon(dark) input
    v-card
      v-btn-toggle.primary.card__title(v-model="authForm.loginState")
        v-btn(flat, block, dark, large, value="Вход") Вход
        v-btn(flat, block, dark, large, value="Регистрация") Регистрация
      v-card-text
        v-form(v-model="authForm.valid", lazy-validation, ref="form")
          v-container: v-layout(wrap)
            v-flex
              v-text-field(
              label="email",
              v-model="authForm.data.email",
              prepend-icon="email",
              v-bind:rules="[authForm.error.email == '' || authForm.error.email]",
              autofocus
              )
            v-flex
              v-text-field(
              label="Пароль",
              v-model="authForm.data.password",
              prepend-icon="lock",
              :append-icon="!authForm.visibility.password ? 'visibility' : 'visibility_off'",
              :append-icon-cb="() => (authForm.visibility.password = !authForm.visibility.password)",
              :type="!authForm.visibility.password ? 'password' : 'text'",
              :rules="[authForm.error.password == '' || authForm.error.password]",
              )
            v-flex(v-if="authForm.loginState == 'Регистрация'", transition="fade-transition", origin="center center")
              v-text-field(
                label="Подтверждение пароля",
                prepend-icon="lock",
                v-model='authForm.data.confirm_password',
                :append-icon="!authForm.visibility.password_confirm ? 'visibility' : 'visibility_off'",
                :append-icon-cb="() => (authForm.visibility.confirm_password = !authForm.visibility.confirm_password)",
                :type="!authForm.visibility.password_confirm ? 'password' : 'text'",
                v-bind:rules="[authForm.error.confirm_password == '' || authForm.error.confirm_password]",
              )
      v-card-actions
        v-flex(v-if="authForm.loginState == 'Вход'", offset-xs1)
          nuxt-link(
            to="/auth/restore_password",
            @click.native="authForm.loginPopUp = false"
          ) Забыли пароль?
        v-spacer
        v-btn(flat, color="error", @click.native="closeForm()") Отмена
        v-btn(
        flat,
        color="primary",
        @click.native="sendLoginForm",
        :loading="authForm.loading",
        :disabled="authForm.loading"
        )
          | {{ authForm.loginState }}
          span.custom-loader(slot="loader")
            v-icon(light) cached
</template>
<script>
  import {auth} from '~/plugins/api'

  export default {
    name: 'loginBlock',
    methods: {
      sendLoginForm () {
        const self = this
        this.authForm.loading = true
        if (this.authForm.loginState === 'Вход') {
          auth.auth(this)
        } else {
          auth.register(this)
            .then(() => { self.cleanErrors() })
        }
      },
      cleanErrors () {
        this.authForm.error = {
          email: '',
          password: '',
          confirm_password: ''
        }
      },
      closeForm () {
        this.$refs.form.reset()
        this.cleanErrors()
        this.authForm.loginPopUp = false
      }
    },
    data () {
      return {
        authForm: {
          data: {
            email: '',
            password: '',
            confirm_password: ''
          },
          visibility: {
            password: false,
            confirm_password: false
          },
          error: {
            email: '',
            password: '',
            confirm_password: ''
          },
          valid: true,
          loading: false,
          loginPopUp: false,
          loginState: 'Вход'
        }
      }
    }
  }
</script>
<style lang="stylus" scoped="">
  .custom-loader
    animation loader 1s infinite
    display flex

  @keyframes loader
    from
      transform rotate(0)
    to
      transform rotate(360deg)
</style>