<template lang="pug">
  v-snackbar(
  :timeout="3000",
  :color="message.color",
  :multi-line="message.mode === 'multi-line'",
  :vertical="message.mode === 'vertical'",
  v-model="status",
  top
  )
    | {{ message.text }}
    v-btn(dark, flat, @click.native="clearMessage()") x
</template>
<script>
  export default {
    methods: {
      clearMessage () {
        this.$store.commit('clearMessage')
        this.status = false
      }
    },
    computed: {
      message () {
        return this.$store.state.message
      }
    },
    data () {
      return {
        status: false
      }
    },
    watch: {
      message (newVal, oldVal) {
        if (newVal.status) {
          this.status = true
        }
      },
      status (newVal, oldVal) {
        if (!newVal) {
          this.clearMessage()
        }
      }
    }

  }
</script>
<style lang="stylus">
  .snack.snack--top
    top 2em
    z-index 9999
    .snack__content
      max-width 50vw
      padding 3rem
      font-size 1.2em
</style>