// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: teal
  accent: orange
  secondary: #424242
  info: #0b7aa1
  warning: #ff832c
  error: #B71C1C
  success: #4d7d67
}